header {
    position: fixed;
    top: 0;
    padding: 8px 16px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    z-index: 1;
}

header.scrolled {
    border-bottom: 1px solid #00000080;
    background-color: #ffffff80;
}

header.hide-header {
    transform: translateY(-100%);
    opacity: 0;
}

.logo {
    z-index: 10;
}

.st0 {
    fill: white;
}

header.scrolled .st0 {
    fill: #00B8FF;
}

h1>svg {
    width: 100px;
}

.seo-text-hide {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(0 0 99.9% 99.9%);
}

#hamberger {
    display: block;
    width: 40px;
    height: 40px;
    position: relative;
    z-index: 10;


}



.hamberger-rect {
    width: 26px;
    height: 3px;
    display: block;
    background-color: white;
    position: absolute;
    top: 30%;
    left: 0%;
    transition: 0.5s;
}

.hamberger-rect:last-child {
    left: 20%;
    top: 60%;
}

.scrolled .hamberger-rect {
    background-color: #00B8FF;
}

#hamberger.active>.hamberger-rect {
    top: 50%;
    left: 50%;
}

#hamberger.active>.hamberger-rect:first-child {
    transform: translate(-50%, -50%) rotate(405deg);
}

#hamberger.active>.hamberger-rect:last-child {
    transform: translate(-50%, -50%) rotate(-405deg);
}

#intro {
    width: 100%;
    height: 100vh;
    background-image: url(../imgs/main_visual_fullscreen.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
}

#intro>h2 {
    text-align: center;
    font-size: 56px;
    color: white;
    font-weight: bold;
    line-height: 140%;
}



#product {
    max-width: 800px;
    padding: 32px;
    margin: 0 auto;
}

.product-content {
    padding: 64px 0;
}

.product-content-heading {
    font-size: 32px;
    font-weight: bold;
    color: #444;
    margin-bottom: 16px;
    width: fit-content;
}

.product-content-heading::after {
    display: inline-block;
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 8px;
    background-color: #00B8FF;
}

.product-content-explane {
    font-weight: bold;
    color: #aaa;
    font-size: 18px;
    line-height: 140%;
    margin-bottom: 40px;
}

figure>img {
    width: 100%;
}

#count-up {
    background-color: #eee;
    padding: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #AAA;
    font-size: 32px;
    line-height: 150%;
    font-weight: 600;
    position: relative;
    overflow: hidden;
}

.blue {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #00B8FF;
    transform: skewX(-35deg);
    left: 110%;
    transition: 1s;
}

.blue.active {
    left: 75%;
}

.count-up {
    color: #00B8FF;
    font-weight: 900;
}

.color-text {
    color: #00B8FF;
}

footer {
    background-color: #28323C;
    padding: 32px 16px;
    padding-bottom: 100px;
}

.sns-container {
    display: flex;
    gap: 8px;
    margin-bottom: 24px;
}

.sns-content {
    display: block;
    width: 28px;
}

.sns-content>img {
    width: 100%;
}

.footer-container {
    max-width: 800px;
    margin: 0 auto;
}

#footer-nav {
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
}

#footer-nav>a {
    color: #ebebeb;
    text-decoration: none;
    font-size: 14px;
}

.corp-info {
    font-size: 12px;
    display: flex;
    color: #646F7C;
    justify-content: space-between;
}

dl {
    display: flex;

}

dt::after {
    content: '.';
    margin-right: 8px;
}

.corp-info-inner-con {
    /* width: 50%; */
    line-height: 150%;
    flex-shrink: 0;
}

.biz-info {
    color: #ababab;
    font-weight: bold;
}

.hamberger-modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120vh;
    background-color: #000000CC;
    display: flex;
    justify-content: flex-end;

}

.hamberger-modal.hide {
    opacity: 0;
    transition: 0.5s;
}

.go-back {
    z-index: -10;
}


.hamberger-menu-container {
    width: 400px;
    background-color: #28323C;
    padding: 0 32px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-delay: 0.5;

}

.hamberger-modal.hide>nav {
    transform: translateX(100%);
}

.hamberger-menu-list {
    border-bottom: 1px solid gray;
    padding: 16px 0;
}

.hamberger-menu {

    font-size: 18px;
    font-weight: bold;
}

.hamberger-menu>a {
    color: #eee;
    display: block;
    padding: 16px 0;
    text-decoration: none;
}